.col {
    width: 100%;
    clear: both;
    height: 10px;
}

.col .row {
    float: left;
    width: 10px;
    height: 10px;
}

.col .row.green {
    color: #00ff00;
}
.col .row.searched {
    color: #ff0000;
}
