.col {
    width: 100%;
    clear: both;
    height: 15px;
}

.col .row {
    float: left;
    width: 15px;
    height: 15px;
}

.col .row.green {
    color: #00ff00;
}
.col .row.searched {
    color: #ff0000;
}
